# ===============================
# DATA (DO NOT COMMIT)
# ===============================

# Extracted frames
frames/
frames/fake/
frames/real/

# Original videos
dataset/fake/
dataset/real/

# ===============================
# IMAGES
# ===============================

*.jpg
*.jpeg
*.png

# ===============================
# TRAINED MODELS
# ===============================

*.h5
*.pt
*.pth

# ===============================
# PYTHON CACHE
# ===============================

__pycache__/
*.pyc

# ===============================
# IDE / SYSTEM
# ===============================

.vscode/
.DS_Store
Thumbs.db

# ===============================
# ENV / LOGS
# ===============================

.env
*.log
