# ===============================
# DATA (DO NOT COMMIT)
# ===============================

# Extracted frames
frames/
frames/fake/
frames/real/

# Original videos
dataset/fake/
dataset/real/

# ===============================
# IMAGES
# ===============================

*.jpg
*.jpeg
*.png





